<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button aria-label="Menu icon" class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="divider"></div>
  <mat-icon class="home-icon">home</mat-icon>
  <span class="dashboard-title">/ DASHBOARD</span>
  <div class="divider"></div>
  <span class="spacer"></span>
  <button mat-button class="add-new-button">ADD NEW <mat-icon>add</mat-icon></button>
  <div class="divider"></div>
  <button mat-icon-button aria-label="Search icon">
    <mat-icon>search</mat-icon>
  </button>
  <div class="divider"></div>
  <button mat-icon-button aria-label="Notifications icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <div class="divider"></div>
  <span class="user-info">ADMIN (admin&#64;example.com)</span>
</mat-toolbar>
<div class="dashboard-container">
  <div class="summary-section">
    <app-task-summary></app-task-summary>
  </div>
  <div class="tasks-chart-section">
    <div class="tasks-table">
      <app-tasks-table></app-tasks-table>
    </div>
    <div class="monthly-chart">
      <app-monthly-chart></app-monthly-chart>
    </div>
  </div>
</div>
