body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0F1F5;
}

.mat-toolbar {
  background-color: #ffffff; 
  color: #000000; 
  display: flex;
  align-items: center;
}

.menu-icon {
  color: #000000; 
  margin-right: 20px;
}

.home-icon {
  color: #000000;
  margin-right: 5px;
}

.dashboard-title {
  font-weight: 500; 
  color: #000000; 
  font-size: 16px; 
}

.spacer {
  flex: 1 1 auto;
}

.add-new-button {
  font-weight: 500; 
  color: #1e88e5 !important; 
  font-size: 14px; 
}

.mat-icon-button {
  color: #000000;
}

.user-info {
  margin-left: 20px;
  color: #1e88e5; 
  font-size: 14px; 
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.summary-section {
  display: flex;
  justify-content: center;
  width: 100%; 
  margin-bottom: 20px;
}

mat-card {
  margin-bottom: 30px;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-family: 'Roboto', sans-serif; 
}


.divider {
  height: 30px;
  border-left: 1px solid #e0e0e0; 
  margin: 0 10px;
}

.tasks-chart-section {
  display: flex;
  justify-content: space-between;
}

.tasks-table, .monthly-chart {
  width: 48%;
  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}