<div class="summary-container">
<mat-card class="summary-item tasks">
  <div class="d-flex align-items-center summary-content">
    <div class="icon">
      <span class="material-symbols-outlined">assignment</span>
    </div>
    <div class="text">
      <p>Tasks</p>
      <span>{{taskSummary.tasks}}</span>
    </div>
  </div>
</mat-card>

<mat-card class="summary-item stores">
  <div class="d-flex align-items-center summary-content">
    <div class="icon">
      <span class="material-symbols-outlined">store</span>
    </div>
    <div class="text">
      <p>Stores</p>
      <span>{{taskSummary.stores}}</span>
    </div>
  </div>
</mat-card>

<mat-card class="summary-item users">
  <div class="d-flex align-items-center summary-content">
    <div class="icon">
      <span class="material-symbols-outlined">groups</span>
    </div>
    <div class="text">
      <p>Users</p>
      <span>{{taskSummary.users}}</span>
    </div>
  </div>
</mat-card>

<mat-card class="summary-item services">
  <div class="d-flex align-items-center summary-content">
    <div class="icon">
      <span class="material-symbols-outlined">build</span>
    </div>
    <div class="text">
      <p>Services</p>
      <span>{{taskSummary.services}}</span>
    </div>
  </div>
</mat-card>
</div>