.task-card {
  width: 100%;
  padding: 31px;
  display: flex;
  flex-direction: column;
  flex: 1;

}

.mat-table {
  width: 100%;
}

mat-header-cell {
  font-weight: bold;
}

mat-cell {
  padding: 8px;
}
